*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    /* display:grid;
    height: 100%;
    place-items: center; */
    background: #1abc9c;
    overflow: hidden;
}

.container{
    max-width:440px ;
    padding: 0 20px;
    margin: 170px auto;
}

.wrapper{
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

.wrapper .title{
        line-height: 80px;
        background: #16a085;
        padding-left: 10px;
        border-radius: 5px 5px 0 0;
        color: #fff;
        text-align: center;
        font-size: 30px;
        font-weight: 600;
}

.wrapper form{
    padding: 30px 25px 25px 25px;
}

.wrapper form .row{
    height: 45px;
    /* background: #ff0000; */
    margin-bottom: 15px;
    position: relative;
}

.wrapper form .row input{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    font-size: 16px;
    transition: all 0.3s ease;
}

form .row input:focus{
    border-color: #16a085;
    box-shadow: inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

.wrapper form .row i{
    position: absolute;
    width: 47px;
    height: 100%;
    background-color: #16a085;
    border: 1px solid #16a085;
    display:flex;
    color: #fff;
    border-radius: 5px 0 0 5px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.wrapper form .pass{
    margin: -7px 0 21px 0;
}

.wrapper form .pass a{
    color: #16a085;
    text-decoration: none;
    font-size: 17px;

}

.wrapper form .pass a:hover{
    text-decoration: underline;
    font-size: 18px;
}



.wrapper form .button input{
        color: #fff;
        padding-left: 0px;
        font-weight: 500;
        font-size: 20px;
        background-color: #16a085;
        border: 1px solid #16a085;
        cursor: pointer;
}

.wrapper form .signup-link{
    text-align: center;
    margin-top: 11px;
}

.wrapper form .signup-link a{
    color: #16a085;
    font-size: 17px;
    text-decoration: none;
}


.wrapper form .signup-link a:hover{
    text-decoration: underline;
    font-size: 18px;

}
.wrapper form .button input:hover{
    color: #16a085;
    font-size: 25px;
    border: 1px solid black;
    background-color: #fff;
}